{% extends 'layout.html'%}
{% block content%}


<!--seccion INFORMACION INICIAL-->

<div class="col-md-12 col-lg-12">
    <form method="POST" action="" class="content-section">

        {{ form.hidden_tag() }}
        {% if true %}
        <div class="row shadow-lg p-3 mb-5 bg-body rounded">
            <legend class="text-center"><strong class="display-6 colorh2">Purchase Order Processing Checklist -
                    Chile</strong></legend>
            <p>Welcome {{current_user.name}}</p>

            <div class="row">
                <div class="col-md-3">
                    {{form.sales_force_id.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form.sales_force_id(class="form-control form-control-md validated ")}}

                </div>
                <div class="col-md-3">
                    {{form.purchase_order.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form.purchase_order(class="form-control form-control-md validated " , id='validationcustome01')}}


                </div>
                <div class="col-md-3">
                    {{form.quote_direct.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form.quote_direct(class="form-control form-control-md validated " , id='validationcustome01')}}
                </div>
                <div class="col-md-3">
                    {{form.pre_sales_name.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    <select name="pre_sales_name" class="custom-select" id="inputGroupSelect04">
                        {% if pre_sales %} {% for engineer in pre_sales%}
                        <option value="{{engineer.name}}">{{engineer.name}}</option>
                        {% endfor %} {% endif %}
                    </select>
                </div>

            </div>






            <div class="row">


            </div>

        </div>


        <div class="col-md-12 ">
            <div class="row border-2 border-primary border-opacity-25 border-2 bg-opacity-10 bg-primary bg-gradient">


                <legend class="text-center"><strong><i class="fs-6">Customer Information</i></strong></legend>
                <hr>
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4 custome-select">
                        <div class="wrapper">
                            <div class="select-btn">
                              <span>Select Customer</span>
                              <i class="uil uil-angle-down"></i>
                            </div>
                            <div class="content">
                              <div class="search">
                                <i class="uil uil-search"></i>
                                <input spellcheck="false" type="text" placeholder="Search">
                              </div>
                              <ul class="options"></ul>
                            </div>
                          </div>
                    </div>
           
                </div>
                <div class="row">
                    <div class="col-md-2">

                        {{customer.customer_name.label(class="form-control-label mt-3 pt-0 mb-0",
                        for="validationCustom01")}}
                        {{customer.customer_name(class="form-control form-control-md validated " ,
                        id='customer_name', disabled=True)}}
                    </div>
                    <div class="col-md-2">
                        {{customer.customer_contact_name.label(class="form-control-label mt-3 pt-0 mb-0",
                        for="validationCustom01")}}
                        {{customer.customer_contact_name(class="form-control form-control-md validated " ,
                        id='customer_contact_name', disabled=True)}}
                    </div>
                    <div class="col-md-2">
                        {{customer.customer_contact_email.label(class="form-control-label mt-3 pt-0 mb-0",
                        for="validationCustom01")}}
                        {{customer.customer_contact_email(class="form-control form-control-md validated " ,
                        id='customer_contact_email', disabled=True)}}
                    </div>
                    <div class="col-md-2">
                        {{customer.customer_contact_phone.label(class="form-control-label mt-3 pt-0 mb-0",
                        for="validationCustom01")}}
                        {{customer.customer_contact_phone(class="form-control form-control-md validated " ,
                        id='customer_contact_phone', disabled=True)}}
                    </div>
                    <div class="col-md-3">
                        {{customer.customer_address.label(class="form-control-label mt-3 pt-0 mb-0",
                        for="validationCustom01")}}
                        {{customer.customer_address(class="form-control form-control-md mb-4 ml-2 validated " ,
                        id='customer_address', disabled=True)}}
                    </div>
                </div>



                <legend class="text-center"><strong><i class="fs-6">Dispatch Customer Information</i></strong></legend>

                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">

                        {{form.dispatch_receiver_name.label(class="form-control-label mt-3 pt-0 mb-0",
                        for="validationCustom01")}}
                        {{form.dispatch_receiver_name(class="form-control form-control-md validated " ,
                        id='validationcustome01')}}

                    </div>
                    <div class="col-md-2">
                        {{form.dispatch_receiver_phone.label(class="form-control-label mt-3 pt-0 mb-0",
                        for="validationCustom01")}}
                        {{form.dispatch_receiver_phone(class="form-control form-control-md validated " ,
                        id='validationcustome01')}}


                    </div>
                    <div class="col-md-2">

                        {{form.dispatch_receiver_email.label(class="form-control-label mt-3 pt-0 mb-0",
                        for="validationCustom01")}}
                        {{form.dispatch_receiver_email(class="form-control form-control-md validated " ,
                        id='validationcustome01')}}

                    </div>
                    <div class="col-md-3">
                        {{form.dispatch_address.label(class="form-control-label mt-3 pt-0 mb-0",
                        for="validationCustom01")}}
                        {{form.dispatch_address(class="form-control form-control-md mb-4 ml-2 validated " ,
                        id='validationcustome01')}}

                    </div>
                </div>


            </div>
        </div>
        {% endif %}
        <!--SECCION CISCO-->

        {% if form.include_cisco.data==true%}
        <input type="number" id="cisco_quantity" name="cisco_quantity" value="{{forms_cisco|length}}" hidden>
        <section id="cisco_vendor" , name="seccion-prueba" , class="col-md-12">
            {% if forms_cisco %}
            <div class="row shadow-sm p-3 mb-5 bg-body rounded" id="form_cisco_vendor">
                {% for form_cisco in forms_cisco%}
                <legend class="text-center"><strong>CISCO VENDOR INFORMATION </strong></legend><br>
                <hr>





                <div id="cisco_deal_id" , class="col-md-1 row">
                    <div class="">
                        <div class="form-group  border-1 needs-validation" novalidate>
                            {{form_cisco.cisco_deal_id.label(class="form-control-label", for="validationCustom01")}}
                            {{form_cisco.cisco_deal_id(class="form-control form-control-md validated " ,
                            id='validationcustome01')}}
                            <button id="btn_search_deal_id" , class="btn btn-md btn-outline-success mt-3">
                                Search</button>


                        </div>
                    </div>


                </div>

                <div id="cisco_account_manager_name" , class="col-md-2 row">
                    <div class="">
                        <div class="form-group  needs-validation" novalidate>
                            {{form_cisco.cisco_account_manager_name.label(class="form-control-label",
                            for="validationCustom01")}}
                            {{form_cisco.cisco_account_manager_name(class="form-control form-control-md validated " ,
                            id='validationcustome01')}}
                        </div>
                    </div>

                </div>
                <div id="cisco_account_manager_phone" , class="col-md-2 row ">
                    <div class="">
                        <div class="form-group  needs-validation" novalidate>
                            {{form_cisco.cisco_account_manager_phone.label(class="form-control-label",
                            for="validationCustom01")}}
                            {{form_cisco.cisco_account_manager_phone(class="form-control form-control-md validated " ,
                            id='validationcustome01')}}
                        </div>
                    </div>

                </div>

                <div id="cisco_account_manager_email" , class="col-md-2 row">
                    <div class="">
                        <div class="form-group  needs-validation" novalidate>
                            {{form_cisco.cisco_account_manager_email.label(class="form-control-label",
                            for="validationCustom01")}}
                            {{form_cisco.cisco_account_manager_email(class="form-control form-control-md validated " ,
                            id='validationcustome01')}}
                        </div>
                    </div>

                </div>
                <div id="cisco_smart_account" , class="col-md-2 row ">
                    <div class="">
                        <div class="form-group  needs-validation" novalidate>
                            {{form_cisco.cisco_smart_account.label(class="form-control-label",
                            for="validationCustom01")}}
                            {{form_cisco.cisco_smart_account(class="form-control form-control-md validated " ,
                            id='validationcustome01')}}
                        </div>
                    </div>

                </div>

                <div id="cisco_virtual_account" , class="col-md-2 row ">
                    <div class="">
                        <div class="form-group  needs-validation" novalidate>
                            {{form_cisco.cisco_virtual_account.label(class="form-control-label",
                            for="validationCustom01")}}
                            {{form_cisco.cisco_virtual_account(class="form-control form-control-md validated " ,
                            id='validationcustome01')}}


                        </div>
                    </div>
                </div>



                <div id="delete_cisco" , class="col-md-1  ">
                    <div class="">
                        <div class="form-group  needs-validation" novalidate>
                            <br>
                            <button type="button" name="delete_cisco" class="btn btn-outline-danger mt-2"> X</button>


                        </div>
                    </div>
                </div>


            </div>

</div>
</div>

{% endfor %}
<div class="row">
    <button id="btnciscovendor" , class="btn btn-md btn-outline-primary  col-md-3 mt-4"> Add Other Deal ID</button>
</div>
</div>
{% endif %}

{% endif %}
</section>


<!--SECCION VENDOR-->
{% if form.include_vendor.data==true%}
<input type="number" id="vendor_quantity" name="vendor_quantity" value="{{forms_vendor|length}}" hidden>
<section id="vendor" , name="seccion-prueba" , class="col-md-12">
    {% if forms_vendor %}
    <div class="row shadow-sm p-3 mb-5 bg-body rounded" id="form_vendor">
        {% for form_vendor in forms_vendor%}
        <legend class="text-center"><strong>VENDOR INFORMATION </strong></legend><br>
        <hr>
        <div id="vendor_name" , class="col-md-2 row">
            <div class="">
                <div class="form-group  needs-validation" novalidate>
                    {{form_vendor.vendor_name.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form_vendor.vendor_name(class="form-control form-control-md validated " ,
                    id='validationcustome01')}}
                </div>
            </div>

        </div>
        <div id="vendor_deal_id" , class="col-md-2 row">
            <div class="">
                <div class="form-group  needs-validation" novalidate>
                    {{form_vendor.vendor_deal_id.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form_vendor.vendor_deal_id(class="form-control form-control-md validated " ,
                    id='validationcustome01')}}
                </div>
            </div>

        </div>


        <div id="vendor_account_manager_name" , class="col-md-2 row ">
            <div class=" ">
                <div class="form-group  needs-validation" novalidate>
                    {{form_vendor.vendor_account_manager_name.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form_vendor.vendor_account_manager_name(class="form-control form-control-md validated " ,
                    id='validationcustome01')}}
                </div>
            </div>

        </div>

        <div id="vendor_account_manager_phone" , class="col-md-2 row">
            <div class=" ">
                <div class="form-group  needs-validation" novalidate>
                    {{form_vendor.vendor_account_manager_phone.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form_vendor.vendor_account_manager_phone(class="form-control form-control-md validated " ,
                    id='validationcustome01')}}
                </div>
            </div>

        </div>
        <div id="vendor_account_manager_email" , class="col-md-3 row ">
            <div class="">
                <div class="form-group  needs-validation" novalidate>
                    {{form_vendor.vendor_account_manager_email.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form_vendor.vendor_account_manager_email(class="form-control form-control-md validated " ,
                    id='validationcustome01')}}
                </div>
            </div>

        </div>

        <div id="delete_vendor" , class="col-md-1  ">
            <div class="">
                <div class="form-group  needs-validation" novalidate>
                    <br>
                    <button type="button" name="delete_vendor" class="btn btn-outline-danger mt-3"> X</button>


                </div>
            </div>
        </div>

        {% endfor %}
        <div class="row">
            <button id="btnvendor" class="btn btn-md btn-outline-primary justify-content-md-center  col-md-3 mt-4">
                Add a new Vendor</button>
        </div>
    </div>
    {%endif%}
    {%endif%}

</section>


<!--SECCION SOFTWARE-->
{% if form.include_software.data==true%}
<input type="number" id="software_quantity" name="software_quantity" value="{{forms_software|length}}" hidden>
<section id="software" , name="seccion-prueba" , class="col-md-12">
    {% if forms_software %}
    <div class="row shadow-sm p-3 mb-5 bg-body rounded" id="Form_Software">
        {% for form_software in forms_software %}
        <legend class="text-center"><strong>SOFTWARE INFORMATION </strong></legend><br>
        <hr>
        <div id="software_type" , class="col-md-2 row">
            <div class=" ">
                <div class="custome-select  needs-validation" novalidate>
                    {{form_software.software_type.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form_software.software_type(class="form-select form-control-md validated " ,
                    id='software_type_select')}}
                </div>
            </div>
        </div>
        <div id="duration_time" , class="col-md-2 row">
            <div class=" ">
                <div class="custome-select needs-validation" novalidate>
                    {{form_software.duration_time.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form_software.duration_time(class="form-select form-control-md validated " ,
                    id='validationcustome01')}}
                </div>
            </div>
        </div>
        <div id="customer_contact" , class="col-md-2 row ">
            <div class=" ">
                <div class="form-group  needs-validation" novalidate>
                    {{form_software.customer_contact.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form_software.customer_contact(class="form-control form-control-md validated " ,
                    id='validationcustome01')}}
                </div>
            </div>
        </div>

        <div id="subscription_id" , class="col-md-1 row">
            <div class=" ">
                <div class="form-group  needs-validation" novalidate>
                    {{form_software.subscription_id.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form_software.subscription_id(class="form-control form-control-md validated " ,
                    id='subscription_id_field')}}
                </div>
            </div>
        </div>
        <div id="start_date" , class="col-md-2 row ">
            <div class=" ">
                <div class="form-group  needs-validation" novalidate>
                    {{form_software.start_date.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}
                    {{form_software.start_date(class="form-control form-control-md validated " ,
                    id='validationcustome01')}}
                </div>
            </div>
        </div>
        <div id="type_of_purchase" , class="col-md-2 row ">
            <div class=" ">
                <div class="custome-select  needs-validation" novalidate>
                    {{form_software.type_of_purchase.label(class="form-control-label mt-3 pt-0 mb-0",
                    for="validationCustom01")}}

                    {{form_software.type_of_purchase(class="form-select form-control-md validated " ,
                    id='validationcustome01')}}
                </div>
            </div>
        </div>
        <div id="delete_software" , class="col-md-1  ">
            <div class="">
                <div class="form-group  needs-validation" novalidate>
                    <br>
                    <button type="button" name="delete_software" class="btn btn-outline-danger mt-3"> X</button>


                </div>
            </div>
        </div>

        {% endfor %}
        <div class="row">
            <button id="btnsoftware" class="btn btn-md btn-outline-primary justify-content-md-center  col-md-3 mt-4">
                Add a new Software</button>
        </div>
    </div>
    {% endif%}
    {% endif%}
</section>


<div class="col-md-12 shadow-sm p-3 mb-5 bg-body rounded ">
    <div class="row bg-primary p-2 text-dark bg-opacity-10">
        <legend class=""><i class="fs-6">Please add your Comments</i></legend>


        <div class="col-md-12 ">
            {{form.comments(class="form-control form-control-md validated " , id='validationcustome01')}}
            <div class="invalid-feedback">
                COMPLETE THIS FIELD!!!
            </div>
        </div>
        <br>



    </div>
    <br>
    <div class="input-group col-md-2" for="validationcustome01">

        <select name="status" class="custom-select" id="inputGroupSelect04">
            {% if status.assignment.choices %} {% for role in status.assignment.choices
            %} {% if current_user.role_id != role.id %}
            <option value="{{role.role_name}}">{{role.role_name}}</option>
            {% endif %} {% endfor %} {% endif %}
        </select>
        <br>
        <br>


    </div>
</div>

<div class="row">





    <div class="form-group">
        {{ form.submit(class="btn btn-md btn-primary ") }}
    </div>



    </fieldset>
</div>

{{ form.include_cisco(hidden=True) }}
{{ form.include_vendor(hidden=True) }}
{{ form.include_software(hidden=True) }}
{{ form.customer_id(hidden=True, id="customer_id", disabled=True) }}

<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>



<script>

    function changeAttribute(elements, formId, buttonId, quantity) {
        const hr = document.createElement("hr");
        hr.className = "mt-3";
        let form = document.querySelector(formId);
        form.appendChild(hr);
        let btn = document.querySelector(buttonId);
        for (element of elements) {
            let field = document.querySelector(element).cloneNode(true);
            var sectionLength = parseInt(document.querySelector(quantity).value)
            if (field) {
                field.children[0].firstElementChild.children[1].name = element.replace("#", "") + sectionLength
                field.children[0].firstElementChild.children[1].value = ""
                form.appendChild(field)
            }
            form.appendChild(btn);


        }
        document.querySelector(quantity).value = sectionLength + 1
    }

    $(function () {
        $('#btnsoftware').on('click', function () {
            let elementList = ["#software_type", "#duration_time", "#customer_contact", "#subscription_id", "#start_date", "#type_of_purchase", "#delete_software"]
            formId = "#Form_Software"
            buttonId = "#btnsoftware"
            quantity = "#software_quantity"
            changeAttribute(elementList, formId, buttonId, quantity)
            update_software_drop_down()
        });
    });

    $(function () {
        $('#btnvendor').on('click', function () {
            let elementList = ["#vendor_name", "#vendor_deal_id", "#vendor_account_manager_name", "#vendor_account_manager_phone", "#vendor_account_manager_email", "#delete_vendor"]
            formId = "#form_vendor"
            buttonId = "#btnvendor"
            quantity = "#vendor_quantity"
            changeAttribute(elementList, formId, buttonId, quantity)

        });
    });
    $(function () {
        $('#btnciscovendor').on('click', function () {
            let elementList = ["#cisco_deal_id", "#cisco_account_manager_name", "#cisco_account_manager_phone", "#cisco_account_manager_email", "#cisco_smart_account", "#cisco_virtual_account", "#delete_cisco"]
            formId = "#form_cisco_vendor"
            buttonId = "#btnciscovendor"
            quantity = "#cisco_quantity"
            changeAttribute(elementList, formId, buttonId, quantity)

        });
    });


</script>
<script>
    {% if form.include_software.data==true%}

        function update_software_drop_down(){
            let quantity = parseInt(document.querySelector("#software_quantity").value)
            let dropDown = document.querySelectorAll("#software_type_select")
            let subscription_id = document.querySelectorAll("#subscription_id_field")
            for(let i = 0; i < quantity; i++){
                dropDown[i].addEventListener("change", function(event){
                    if (dropDown[i].value != "SaaS"){
                        subscription_id[i].setAttribute("disabled", "")         
                    }
                    else {
                        subscription_id[i].removeAttribute("disabled")
                    }
                })
            }
        }
        update_software_drop_down()

    {% endif %}
</script>

<script>
    // Script for the Autocomplete search bar for customer

let customers = {{ customers | tojson }}
const wrapper = document.querySelector(".wrapper"),
selectBtn = wrapper.querySelector(".select-btn"),
searchInp = wrapper.querySelector("input"),
options = wrapper.querySelector(".options");
let customer_name = document.querySelector("#customer_name")
let customer_contact_name = document.querySelector("#customer_contact_name")
let customer_contact_email = document.querySelector("#customer_contact_email")
let customer_contact_phone = document.querySelector("#customer_contact_phone")
let customer_address = document.querySelector("#customer_address")
let customer_id = document.querySelector("#customer_id")

function addCustomer(selectedCustomer) {
    options.innerHTML = "";
    customers.forEach(customer => {
        customerName = customer.customer_name+" - "+customer.customer_rut
        let isSelected = customerName == selectedCustomer ? "selected" : "";
        if(isSelected){
            customer_name.value = customer.customer_name
            customer_contact_name.value = customer.customer_contact_name
            customer_contact_email.value = customer.customer_contact_email
            customer_contact_phone.value = customer.customer_contact_phone
            customer_address.value = customer.customer_address
            customer_id.setAttribute("value", customer.id)
        }
        let li = `<li onclick="updateName(this)" class="${isSelected}">${customerName}</li>`;
        options.insertAdjacentHTML("beforeend", li);
    });
}
addCustomer();
function updateName(selectedLi) {
    searchInp.value = "";
    addCustomer(selectedLi.innerText);
    wrapper.classList.remove("active");
    selectBtn.firstElementChild.innerText = selectedLi.innerText;

}
searchInp.addEventListener("keyup", () => {
    let arr = [];
    let searchWord = searchInp.value.toLowerCase();
    arr = customers.filter(data => {
        customerName = data.customer_name+" - "+data.customer_rut
        return customerName.toLowerCase().startsWith(searchWord);
    }).map(data => {
        customerName = data.customer_name+" - "+data.customer_rut
        let isSelected = data == selectBtn.firstElementChild.innerText ? "selected" : "";
        return `<li onclick="updateName(this)" class="${isSelected}">${customerName}</li>`;
    }).join("");
    options.innerHTML = arr ? arr : `<p style="margin-top: 10px;">Oops! Customer not found</p>`;
});
selectBtn.addEventListener("click", () => wrapper.classList.toggle("active"));
</script>

{%endblock content%}