{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-4">

        </div>
  
    <div class="col-md-4">
        <form method="POST" action="" class="content-section">
         
            <fieldset class="form-group">
                <legend class="text-center">CREATE CUSTOMER</legend>
                <div class="form-group">
                    {{ customer.customer_name.label(class="form-control-label") }}
                    {{ customer.customer_name(class="form-control form-control-md") }}
            
                </div>
                <div class="form-group">
                   {{customer.customer_rut.label(class="form-control-label")}}
                   {{ customer.customer_rut(class="form-control form-control-md") }}
                </div>
               
              
            </fieldset>
            <div class="form-group">
                {{ customer.submit(class="btn btn-md btn-primary btn-block") }}
               </div>
        </form>
    </div>
    <div class="col-md-4">
            
    </div>

</div>
    
    </div>
</div>

 
{% endblock content %}