{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">

    </div>

    <div class="col-md-4">
        <form method="POST" action="{{url_for('checklist')}}" class="content-section">
            {{ form.hidden_tag() }}
            {{ form.errors }}
            <fieldset class="form-group">
                <h1 class="display-5  .colorh2 ">Initial Information</h1>
                <div class="form-group  needs-validation" novalidate>
                    {{form.sales_force_id.label(class="form-control-label", for="validationCustom01")}}
                    {{form.sales_force_id(class="form-control form-control-md validated " , id='validationcustome01')}}
                    {% if form.sales_force_id.errors and form.sales_force_id.data%}
                        {% for error in form.sales_force_id.errors %}
                            <p class="text-danger"> {{error}}</p>
                        {% endfor %}
                    {% endif %}
                </div>


                <div class="form-group  needs-validation" novalidate>
                    {{form.purchase_order.label(class="form-control-label", for="validationCustom01")}}<i
                        class="fa fa-picture" data-toggle="tooltip"
                        title="Si la Quote no incluye Orden de compra, deja el campo Vacio!!!"></i>
                    {{form.purchase_order(class="form-control form-control-md validated " , id='validationcustome01'
                    )}} </div>
                <div class="form-group  needs-validation" novalidate>
                    {{form.quote_direct.label(class="form-control-label", for="validationCustom01")}}
                    {{form.quote_direct(class="form-control form-control-md" ,
                    id='validationcustome01')}}
                    {% if form.quote_direct.errors and form.quote_direct.data%}
                        {% for error in form.quote_direct.errors %}
                            <p class="text-danger"> {{error}}</p>
                        {% endfor %}
                    {% endif %}

                </div>
                <hr>

                <small><strong>DOES IT INCLUDE SOFTWARE OR VENDOR?</strong></small>
                <hr>
                <div class=" checkbox text-left">
                    <label class="mr-2 col-md-6">
                        <div class="form-check">
                            {{ form.include_software(class="form-check-input") }}
                            <p><strong>{{form.include_software.label}}</strong></p>

                        </div>

                        <div class=" checkbox text-left" , id="check">
                            <label class="mr-2">
                                <div class="form-check">
                                    {{ form.include_vendor(class="form-check-input") }}
                                    <p><strong>{{form.include_vendor.label}}</strong></p>

                                </div>

                        </div>
                        <div class=" checkbox text-left" , id="check">
                            <label class="mr-2">
                                <div class="form-check">
                                    {{ form.include_cisco(class="form-check-input")}}
                                    <p><strong>{{form.include_cisco.label}}</strong></p>

                                </div>

                        </div>


                </div>

            </fieldset>


            <div class="form-group">
                {{ form.submit(class="btn btn-md btn-primary btn-block") }}
            </div>



            {% endblock content %}