{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">

    </div>

    <div class="col-md-4">
        <form method="POST" action="{{url_for('checklist')}}" class="content-section">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h2 class="colorh2 ">Initial Information</h2>
                <div class="form-group  needs-validation" novalidate>
                    {{form.sales_force_id.label(class="form-control-label", for="validationCustom01")}}
                    {{form.sales_force_id(class="form-control form-control-md validated " , id='validationcustome01')}}
                    {% if form.sales_force_id.errors and form.sales_force_id.data%}
                        {% for error in form.sales_force_id.errors %}
                            <p class="text-danger"> {{error}}</p>
                        {% endfor %}
                    {% endif %}
                </div>


                <div class="form-group  needs-validation" novalidate>
                    {{form.purchase_order.label(class="form-control-label", for="validationCustom01")}}<i
                        class="fa fa-picture" data-toggle="tooltip"
                        title="Si la Quote no incluye Orden de compra, deja el campo Vacio!!!"></i>
                    {{form.purchase_order(class="form-control form-control-md validated " , id='validationcustome01'
                    )}} </div>
                <div class="form-group  needs-validation" novalidate>
                    {{form.quote_direct.label(class="form-control-label", for="validationCustom01")}}
                    {{form.quote_direct(class="form-control form-control-md" ,
                    id='validationcustome01')}}
                    {% if form.quote_direct.errors and form.quote_direct.data%}
                        {% for error in form.quote_direct.errors %}
                            <p class="text-danger"> {{error}}</p>
                        {% endfor %}
                    {% endif %}

                </div>

            </fieldset>


            <div class="form-group">
                {{ form.submit(class="btn btn-md btn-primary btn-block") }}
            </div>



            {% endblock content %}