{% extends 'layout.html'%}
{%block content%}

<div class="container col-md-6">
  <h1 class="display-6  "> My Checklist - {{current_user.name}} !</h1>
  <strong>
  <hr class="hrclass">
  <br><br>
</div>
<div class="content-section">
  <div class="">
    <nav class="navbar navbar-expand-md  ">
        <input id="search" class="container col-md-3" type="search" placeholder="Search by Sales Force ID" aria-label="Search"
          name="sales_force_id">
    </nav>
  </div>

  <table id="" class="table content-section table-bordered table-hover  pt-2">
    <thead class="table-primary t-modify ">
      <th> Client Manager </th>
      <th> Pre Sales Engineer </th>
      <th> Customer </th>
      <th> Sales Force ID </th>
      <th> Quote Direct </th>
      <th> Purchase Order </th>
      <th> Date </th>
      <th> Assigned </th>
      <th></th>
    </thead>
    <tbody id="table_body" class="text-wrap t-interior">
    </tbody>
  </table>
</div>

<div class="content-section">
  <nav class="pagination-container">
    <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">
  
      &lt;
  
    </button>
    <div id="pagination-numbers">
  
    </div>
    <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
  
      &gt;
    </button>
  </nav>
</div>

<script>
  
  var forms = {{form_history | tojson }}

</script>
<script src="{{url_for ('static', filename='js/createChecklistTable.js')}}"></script>
<script src="{{url_for ('static', filename='js/pagination.js')}}"></script>


{%endblock content%}