{% extends 'base.html' %}

{% block content %}

<section id="forms">
    <form method="POST" action="">
        {{ loginForm.hidden_tag() }}
        {{ vendor.hidden_tag() }}
        <fieldset>
            <legend>
                Login Today
                <div>
                    {{ loginForm.email.label }}
                    {% if loginForm.email.errors %}
                        {{ loginForm.email }}
                            <div>
                                {% for error in loginForm.email.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{ loginForm.email }}
                    {% endif %}
                </div>
                <div> 
                    {{ loginForm.password.label }}
                    {% if loginForm.password.errors %}
                        {{ loginForm.password }}
                            <div>
                                {% for error in loginForm.password.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{ loginForm.password }}
                    {% endif %}
                </div>

                <div> 
                    {{ vendor.vendor_name.label }}
                    {% if vendor.vendor_name.errors %}
                        {{ vendor.vendor_name }}
                            <div>
                                {% for error in vendor.vendor_name.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{ vendor.vendor_name }}
                    {% endif %}
                </div>

            </legend>
        </fieldset>
        </div>
            <button> Login </button>
        </div>
    </form>

</section>

{% endblock content %}